{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cadastre Médicos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'medicos/css/estilo.css' %}">
</head>
<body>
    <header class="topo">
        <div class="container">
            <h1 class="logo">Cadastre Médicos</h1>
            <nav class="menu">
                <a href="{% url 'home' %}">Início </a>
                <a href="{% url 'cadastrar'%}">Cadastrar</a>
                <a href="{% url 'listar'%}">Médicos</a>
                <a href="/admin/">Admin</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>